* {
  font-family: "Montserrat", sans-serif;
}

.bd-navbar {
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
  font-size: 1.25rem;
}
.bd-navbar a {
  color: #2ccc77;
}
.bd-navbar #projekt-name {
  font-size: 2rem;
}
.bd-navbar .offcanvas {
  background-color: rgba(0, 0, 0, 0.837);
  color: white;
}

.learn-section {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/addc05149516556bbd091e47/3730262_73938.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.learn-section h4 {
  font-size: 3rem;
  font-weight: 800;
}
@media screen and (max-width: 535px) {
  .learn-section h4 {
    font-size: 2rem;
  }
}
.learn-section .row:nth-child(1) {
  color: #2ccc77;
}
.learn-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: #b3b3b3;
}
.learn-section .row:nth-child(2) h5 {
  font-size: 1.875rem;
  color: white;
}
.learn-section .row:nth-child(2) p {
  font-size: 1.1rem;
  color: white;
}
.learn-section .num-box h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

.two-section {
  background-color: #2ccc77;
  height: 46.45rem;
}
.two-section .line-bottom {
  width: 37rem;
  height: 20px;
  background-color: #000000;
}
.two-section .line {
  width: 17rem;
  height: 6rem;
  font-size: 3rem;
  font-weight: 700;
}
.two-section img {
  width: 432px;
  height: 695px;
}

@media (min-width: 481px) and (max-width: 768px) {
  .two-section {
    height: 56.65rem;
  }
  .two-section .line-bottom {
    width: 24rem;
  }
  .two-section .line {
    width: 22rem;
    font-size: 2rem;
  }
  .two-section img {
    width: 312px;
    height: 437px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .two-section {
    height: 73.35rem;
  }
  .two-section .line-bottom {
    width: 26rem;
    position: relative;
    right: 30px;
  }
  .two-section img {
    position: relative;
    top: 430px;
    right: 10px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .two-section {
    height: 60.79rem;
  }
  .two-section .line-bottom {
    width: 30rem;
    position: relative;
  }
  .two-section img {
    position: relative;
    top: 230px;
    right: 10px;
  }
}
.three-section {
  background-color: #333333;
  height: 120rem;
}
.three-section h1 {
  color: #2ccc77;
  font-size: 3rem;
  font-weight: 800;
}
.three-section button {
  width: 82px;
  height: 82px;
  border: none;
  border-radius: 20px;
  background-color: #2ccc77;
  color: white;
  font-size: 40px;
}
.three-section #p1 {
  text-align: right;
}
.three-section #p2 {
  padding-right: 5rem;
}
.three-section .image {
  overflow: hidden;
}
.three-section .image img {
  width: 427px;
  height: 357px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
.three-section .image img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 990px) {
  .three-section .image img {
    width: 720px;
    height: 590px;
  }
}
.three-section #gallery-modal .modal-img {
  width: 100%;
}

@media (min-width: 481px) and (max-width: 768px) {
  .three-section {
    height: 250rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .three-section {
    height: 270rem;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .three-section {
    height: 170rem;
  }
}
.four-section {
  background-color: #2ccc77;
  height: 46.5rem;
}
.four-section .text {
  width: 50rem;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
}
.four-section p {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 2.2;
}
.four-section p span {
  font-weight: 700;
}
.four-section p .link {
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
}
.four-section .btn {
  width: 230px;
  height: 50px;
  background-color: #ffffff;
  color: black;
  font-size: 15px;
  font-weight: 600;
  box-shadow: inset 0 0 0 0 #000000;
  transition: ease-out 0.4s;
  position: relative;
  top: 30px;
  letter-spacing: 4px;
}
.four-section .btn:hover {
  box-shadow: inset 0 50px 0 0 #000000;
  color: white;
}
.four-section img {
  width: 385px;
}

@media (min-width: 481px) and (max-width: 768px) {
  .four-section {
    height: 102.6rem;
  }
  .four-section img {
    width: 440px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .four-section {
    height: 98.4rem;
  }
  .four-section img {
    width: 680px;
  }
  .four-section p {
    position: relative;
    left: 70px;
  }
  .four-section .btn {
    position: relative;
    left: 70px;
    top: -18px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .four-section {
    height: 40rem;
  }
  .four-section img {
    width: 310px;
  }
  .four-section p {
    position: relative;
    left: 70px;
  }
  .four-section .btn {
    position: relative;
    top: -16px;
    left: 70px;
  }
}
.five-section {
  height: 500px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/img/people-using-smartphones.jpg);
  background-position: 50% 50%;
}
.five-section .p1 {
  font-size: 3rem;
  font-weight: 600;
}
.five-section .p1 span {
  color: #2ccc77;
}
.five-section .p2 {
  font-size: 0.9rem;
  font-weight: 500;
}
.five-section .btn {
  width: 330px;
  height: 75px;
  background-color: #ffffff;
  color: black;
  font-size: 15px;
  font-weight: 600;
  box-shadow: inset 0 0 0 0 #000000;
  transition: ease-out 0.4s;
  position: relative;
  top: 30px;
  letter-spacing: 4px;
}
.five-section .btn:hover {
  box-shadow: inset 330px 0 0 0 #000000;
  color: white;
}

@media (min-width: 481px) and (max-width: 768px) {
  .five-section .p1 {
    font-size: 2rem;
    font-weight: 600;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .five-section .p1 {
    font-size: 2rem;
    font-weight: 600;
  }
}
.six-section {
  background-color: #333333;
  height: 46.45rem;
}
.six-section .card {
  background-color: #2ccc77;
  color: white;
  width: 21.5rem;
  height: 33rem;
}
.six-section .card img {
  border-radius: 50% 50%;
  width: 240px;
  height: 240px;
  position: relative;
  display: flex;
  left: 20px;
  top: 25px;
}

@media (max-width: 520px) {
  .six-section {
    height: 85rem;
  }
  .six-section .card {
    width: 20rem;
  }
}
@media (min-width: 521px) and (max-width: 768px) {
  .six-section {
    height: 85rem;
  }
  .six-section .card {
    width: 35rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .six-section {
    height: 85rem;
  }
  .six-section .card {
    width: 45rem;
  }
}
.seven-section {
  background-color: #2ccc77;
  height: 40rem;
}

@media (min-width: 481px) and (max-width: 768px) {
  .seven-section {
    height: 70rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .seven-section {
    height: 60rem;
  }
}
.eight-section {
  background-color: #333333;
  height: 40rem;
}
.eight-section #h {
  font-weight: 700;
}
.eight-section .box1 {
  background-color: #2ccc77;
  height: 17rem;
  width: 28rem;
}
.eight-section .box2 {
  background-color: white;
  height: 18rem;
  width: 28rem;
}
.eight-section .box2 .btn {
  width: 230px;
  height: 75px;
  background-color: #2ccc77;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: ease-out 0.4s;
  position: relative;
  top: 30px;
  border-radius: 8px;
}
.eight-section .box2 .btn:hover {
  box-shadow: inset 0 75px 0 0 #000000;
  color: rgb(255, 255, 255);
}

@media (min-width: 481px) and (max-width: 768px) {
  .eight-section {
    height: 50rem;
  }
  .eight-section #h {
    position: relative;
    bottom: 400px;
  }
  .eight-section .box1 {
    position: relative;
    bottom: 400px;
  }
  .eight-section .box2 {
    position: relative;
    bottom: 400px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .eight-section {
    height: 50rem;
  }
  .eight-section #h {
    position: relative;
    bottom: 400px;
  }
  .eight-section .box1 {
    position: relative;
    bottom: 400px;
  }
  .eight-section .box2 {
    position: relative;
    bottom: 400px;
  }
}
.nine-section {
  height: 600px;
  background-color: #2ccc77;
}
.nine-section .carousel-item {
  background-color: #2ccc77;
}

.ten-section {
  background-color: #333333;
  height: 50rem;
}
.ten-section .boxs {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.ten-section .boxs .circle-box {
  width: 60px;
  height: 60px;
  border-radius: 50% 50%;
  background-color: #2ccc77;
  color: #000000;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ten-section .boxs h5 {
  font-weight: 800;
}

footer {
  background-color: #333333;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  gap: 70px;
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */